h1 
{
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
                       
p 
{
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

HTML 
{
	background-color: #45364F;
}

body.grayBox
{
	background-color: #BDBAB3;
	width: 1200px;
	height: 800px;
	border: 4px solid black;
	padding: 0 20px 20px 20px;
	margin: 0 auto;
}

div.hoursBox
{
	width: 1200px;
	height: 800px;
}

input[type=text] 
{
  	padding: 10px;
	margin: 10px 0;	
	box-shadow: 5px 10px #888888;
	border: 2px solid #EEE;
	border-radius: 10px;	
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 5 auto;
	display: block;
}

/*input[type=password] 
{
	padding: 10px;
	margin: 10px 0; 
	box-shadow: 5px 10px #888888;
	border: 2px solid #EEE;
	border-radius: 10px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 5 auto;
	display: block;
}*/


input[type=submit]
{
	padding: 5px;
	box-shadow: 4px 4px #888888;
	border: 2px solid #000;
	border-radius: 10px;	
	background-color: #DCD0FF;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 5 auto;
	display: block;
}

button
{
	padding: 5px 5px;
	border: 1px solid #000;
	border-radius: 1px;	
	background-color: #DCD0FF;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 5 auto;
	display: block;
	text-align: center;
}

.add
{
	padding: 3px 12px;
	box-shadow: 4px 4px #888888;
	border: 0px;	
	background-color: #A6EFB7;
	color: white;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 5 5;
	font-size: 32px;
	font-weight: bold;
}

.add:active, .add:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.add:hover {
    border: none;
    background-color: #9CDDAB;
    box-shadow: 2px 2px #888888;

}

form.addForm
{
	float: right;
}

div.form
{
	display: block;
	text-align: center;
}

form
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table.userTable
{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #000;
}

td.userTable
{
	padding: 15px;
	text-align: center;
    border: 0px solid #000;

}

thead.userTable
{
	background: #A28FAE;
}

th.userTable
{
	padding: 15px;
	text-align: center;
    border: 0px solid #000;
}

tr:nth-child(even) 
{
	background-color: lightgray;
}

